<section class="comment-section">
   <input type="text" id="comment-input" placeholder="Comment on this photo.">
    <button type="button" id="enter-comment"><i class="fa fa-comment"></i></button>
	</section>