<header>
  <h1 class="site-title">Bini</h1>
</header>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem"><a href="/">Home</a></li>
    <li class="navitem"><a href="/pictures/photos">Pictures</a></li>
    <li class="navitem right"><a href="#">Login</a></li>
	<li class="search">
	<input type="text" id="nav-search-input" placeholder="looking for something?">
	<button type="button" id="search-button> <i class= "fa fa-search"></i></button>
	</li>
  </ul>
</nav>
